:root {
  --h-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", "Tahoma" sans-serif;
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
/* --------------------- LOGO ---------------------*/
.header-logo-first-part,
.footer-logo-first-part {
  color: #2196f3;
}
.header-logo {
  margin-left: 215px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-nav:hover,
.link-nav:focus,
.accent:hover,
.accent:focus {
  cursor: pointer;
  color: var(--accent-color);
}
/* ------------------- HEADER ---------------------*/
.header-section {
  padding-top: 24px;
  padding-bottom: 25;
}
.header-section .container {
  display: flex;
  height: 80px;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-item:not(:first-child) {
  margin-left: 50px;
}
.header-connect {
  margin-left: auto;
  margin-right: 215px;
}
.header-tel {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  margin-left: 50px;
}
.header-mail {
  font-weight: 500;
  color: #757575;
}
/* -------------------- HERO -----------------------*/
.hero-section {
  background-color: #2f303a;
  outline: 1px solid red;
}
.hero-section .container {
  height: 600px;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* -------------benefits-section----------------- */
.visually-hidden {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  width: 1px;
  height: 1px;
}
.aboun-benefits-section {
  background: #e5e5e5;
}
.aboun-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-section {
  background: #f5f4fa;
}
.tiam-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-img-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-img-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.footer-address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.main-portfolio {
  background-color: #ffffff;
}
