:root {
  --h-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
}

/* --------------------- LOGO ---------------------*/
.header-logo-first-part,
.footer-logo-first-part {
  color: #2196f3;
}
.header-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-nav:hover,
.link-nav:focus,
.accent:hover,
.accent:focus {
  cursor: pointer;
  color: var(--accent-color);
}
/* ------------------- HEADER ---------------------*/
.header-section {
}
.header-section .container {
}
.header-list {
}
.header-item:not(:first-child) {
}
.header-connect {
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
/* -------------------- HERO -----------------------*/
.hero-section {
  background: #2f303a;
}
.hero-section .container {
}

.hero-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button:hover,
.hero-button:focus,
.hero-button-list:hover,
.hero-button-list:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* -------------benefits-section----------------- */
.visually-hidden {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  width: 1px;
  height: 1px;
}
.aboun-benefits-section {
  background-color: ffffff;
}
.aboun-benefits {
}
.aboun-benefits-list {
}
.aboun-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--h-text-color);
}

.benefits-text {
  max-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--h-text-color);
}

/* --------------team-section -----------*/
.team-section {
  background: #f5f4fa;
}
.tiam-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-img-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
.team-img-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}
/* -------------footer------------------------------------------- */
.footer {
  background: #2f303a;
}
.footer-list {
  font-style: normal;
}
.footer-address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* -----------------portfolio----------------- */
.main-portfolio {
  background-color: #ffffff;
}
.btn {
}
.btn-list {
}
.hero-button-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.product {
}
.product-list {
}
.product-gallery {
}
.product-img {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-text-color);
}
.product-img-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
